{% extends 'layouts/master.twig' %}

{% set title = 'Users' %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users</h1>
        <a href="{{ path_for('addUser') }}" class="btn btn-sm btn-primary" id="btn-create">Add new</a>
    </div>

    <div class="row align-items-stretch mb-4">
        {% for user in users %}
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-start">
                        <div class="mb-3 mb-lg-0">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                <a href="{{ path_for('detailTenant', {'id': user.tenant_id}) }}" class="{{ user.nama_tenant != 'Admin' ?: 'text-danger' }}">{{ user.nama_tenant }}</a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ user.username }}
                                {% if user.is_active == 0 %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                {% else %}
                                    <i class="fa fa-check-circle text-success"></i>
                                {% endif %}
                            </div>
                            <div class="h6 mb-0 font-weight-slim text-gray-500">{{ user.email ? user.email : '-' }}</div>
                        </div>
                        <div class="text-right">
                            <form class="d-inline" action="{{ path_for('activateUser', {id: user.id}) }}" method="post" onsubmit="return confirmDelete('{{ user.username }}')">
                                <input type="hidden" name="is_active" value="{{ (user.is_active + 1) % 2 }}">

                                {% if user.is_active == 0 %}
                                    <button class="btn btn-success btn-sm btn-icon-split" role="button">
                                        <span class="text">Aktifkan</span>
                                        <span class="icon text-white-50">
                                            <i class="fa fa-check text-white-50"></i>
                                        </span>
                                    </button>
                                {% else %}
                                    <button class="btn btn-danger btn-sm btn-icon-split" role="button">
                                        <span class="text">Deaktif</span>
                                        <span class="icon text-white-50">
                                            <i class="fa fa-times text-white-50"></i>
                                        </span>
                                    </button>
                                {% endif %}
                            </form>
                            <a href="{{ path_for('editUser', {'id': user.id}) }}" class="btn btn-warning btn-sm" role="button">
                                <i class="fa fa-edit"></i>
                            </a>
                            <!-- <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button> -->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('#btn-create').focus();
        })

        confirmDelete = function (sn) {
            return confirm("Hapus user " + sn + " permanen?");
        }
    </script>
{% endblock %}
